.game-button-generico {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: xx-large;
  box-shadow: inset 0px 0px 0.5px 1px black;
}
#game-one-salir-button {
  background-color: rgb(138, 15, 15);
}
.game-one-buttons {
  width: 100%;
  height: 10%;
  background-color: #482c68;
  display: flex;
  flex-direction: row;
  position: relative;
}
