.game-info {
  width: 100%;
  background-color: rgba(155, 94, 79, 1);
  position: relative;
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  top: 0;
  gap: 5px;
  height: 150px;
}
.game-puesto {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  margin: 4px;
}
.game-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 5px;
}
.game-one-noticias {
  width: 100%;
  height: 100px;
  font-size: 20px;
  text-overflow: clip;
  white-space: nowrap;
  scrollbar-width: none;
  overflow-x: scroll;
  background-color: #adadad;
  display: flex;
  flex-direction: row;
  position: relative;
}
#noticia-text {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 10s linear infinite;
  animation-delay: 2s;
  flex-direction: row;
  transform: translateX(calc(200% - 10px));
  pointer-events: none;
  background-color: #adadad;
}
#noticia-text::after {
  content: "1234567890";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: fit-content;
  background: url(../img/royal-news.png) no-repeat center;
  background-size: cover;
  color: transparent;
  font-size: 15px;
}
#noticia-text::before {
  content: "1234567890";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: fit-content;
  background: url(../img/royal-news.png) no-repeat center;
  background-size: cover;
  color: transparent;
  font-size: 15px;
}
@keyframes scroll {
  0% {
    transform: translateX(calc(200% - 10px));
  }
  100% {
    transform: translateX(calc(-100% - 10px));
  }
}
.noticia-img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  background: url(../img/royal-news.png) center;
  background-size: contain;
  color: transparent;
  font-size: 5px;
  animation: moving-backgroundTwo 300s infinite normal forwards linear,
    hue-rotate 3s infinite alternate forwards linear;
}
@keyframes moving-backgroundTwo {
  0% {
  }
  100% {
    background-position: 10000% 0;
  }
}
@keyframes hue-rotate {
  0% {
    filter: hue-rotate(90deg);
  }
  10% {
    filter: hue-rotate(70deg);
  }
  20% {
    filter: hue-rotate(190deg);
  }
  30% {
    filter: hue-rotate(170deg);
  }
  40% {
    filter: hue-rotate(50deg);
  }
  50% {
    filter: hue-rotate(100deg);
  }
  60% {
    filter: hue-rotate(260deg);
  }
  70% {
    filter: hue-rotate(130deg);
  }
  80% {
    filter: hue-rotate(140deg);
  }
  90% {
    filter: hue-rotate(155deg);
  }
  100% {
  }
}
