@font-face {
  font-family: ballet;
  src: url(../fonts/Ballet-Regular-VariableFont_opsz.ttf) format("opentype");
}
@font-face {
  font-family: cur;
  src: url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: pixelBadNumbers;
  src: url(../fonts/PixelifySans-Regular.ttf);
}
@font-face {
  font-family: rain;
  src: url(../fonts/Honk-Regular.ttf);
}
@font-face {
  font-family: nabla;
  src: url(../fonts/Nabla-Regular.ttf);
}
@font-face {
  font-family: pixel;
  src: url(../fonts/PressStart2P-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: pixel;
  user-select: none;
  scrollbar-width: none;
  scrollbar-color: none;
}
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
button {
  background: none;
  border: none;
}
button:active {
  filter: invert();
}
@keyframes blanc {
  from {
    height: 0px;
    width: 0px;
    opacity: 0%;
    display: none;
    background: none;
    visibility: hidden;
    transform: scale(0);
    animation-play-state: paused;
    pointer-events: none;
  }
  to {
    background: none;
    display: none;
    opacity: 0%;
    height: 0px;
    width: 0px;
    visibility: hidden;
    transform: scale(0);
    animation-play-state: paused;
    pointer-events: none;
  }
}
.none {
  animation-name: blanc !important;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: none;
}
/* #game {
  background: url(../img/golden-crown.png) repeat center;
  background-origin: border-box;
  background-size: 100px;
  width: 100%;
  height: 100%;
} */
body:-webkit-scrollbar {
  display: none;
}
.load {
  position: absolute;
  animation: load 2s linear 1 forwards;
  transform-origin: left;
  overflow: hidden;
  opacity: 30%;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  15% {
  }
  100% {
    opacity: 100%;
  }
}
.load::after {
  content: "cargando";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: url(../img/loading.jpg);
  animation: loadPage 1s linear forwards, loadMove 2s linear infinite alternate;
  animation-delay: 1s, 0s;
  box-shadow: inset 0px 0px 1px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
@keyframes loadPage {
  0% {
    height: 100%;
    width: 100%;
    opacity: 100%;
    background: url(../img/loading.jpg);
  }
  15% {
    height: 100%;
    width: 100%;
    background: url(../img/loading.jpg);
  }
  20% {
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    height: 0%;
    width: 0;
  }
}
@keyframes loadMove {
  0% {
  }
  100% {
    background-position: 0% 900%;
  }
}
/* .onLoad {
  height: 0;
  width: 0;
  opacity: 0;
  animation: onLoads 2s linear 1s forwards;
  transform-origin: left;
  overflow: hidden;
}
@keyframes load {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
  }
} */
